.worker-list {
  font-weight: bold;
}

.worker-header {
  margin: 0 20px 40px;
}

.mini-title {
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.02em;
  color: rgba(133, 133, 133, 0.7);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.worker-score {
  background: #0BF9A3;
  color: #000;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.worker-metadata {
  font-size: 24px;
  color: #fff;
}

.link-arrow {
  flex-grow: 1;
  text-align: right;
  margin-right: 10px;
}

td {
  margin-top:20px;
  margin-bottom:20px;
  margin-right:20px;  
  margin-left:20px;  
  border: none; 
}

tr {
  margin-top: 10px;
}

table { 
  border-collapse:collapse 
}

a {
  text-decoration: none;
}