.worker-profile {
  font-weight: bold;
}

.worker-header {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 40px;
}

.mini-title {
  font-size: 10px;
  line-height: 11px;
  letter-spacing: 0.02em;
  color: rgba(133, 133, 133, 0.7);
  text-transform: uppercase;
  margin-bottom: 5px;
}

.worker-score {
  background: #0BF9A3;
  color: #000;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.worker-header-score {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.worker-name {
  font-size: 24px;
  color: #fff;
}

.worker-level {
  font-size: 16px;
  line-height: 18px;
  color: #0BF9A3;
  margin-top: 5px;
}

.worker-bio {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  margin: 0 20px 25px;
}

.worker-bio-info {
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.worker-bio-data {
  width: 50%;
  margin-bottom: 20px;
}

.links {
  display: flex;
  flex-direction: column;
}

.links a {
  color: #fff;
  height: 56px;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  display: flex;
  line-height: 56px;
  padding: 0 20px;
  text-decoration: none;
}

.links a:last-child {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.link-count {
  margin-right: 20px;
}

.link-arrow {
  flex-grow: 1;
  text-align: right;
}